<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="lct.css" rel="stylesheet">
    <link rel="stylesheet" href="scoreBoard.css">
    <title>LCT Komputer PRJ IX</title>

</head>
<body>
    <div class="logo-kiri">
        <img src="logo.png">
    </div>
    <div class="cs_title">
        LCT Komputer <br>
        Semifinal Grup 3
    </div>
    <div class="logo-kanan">
        <img src="hima.png">
        <img src="unila.png">
    </div>

    <div class="container score-panel">
        <!-- <div id="title">Score Board</div> -->
        <div class="team" id="teamA">
            <div id="A" class="label">A</div>
            <div id="scoreA" class="score">0</div>
            <input type="text" id="fieldA" class="field">
            <!-- <div id="addA" class="button addAll">+</div> -->
            <div id="resetA" class="button resetAll">reset</div>
        </div>

        <div class="team" id="teamB">
            <div id="B" class="label">B</div>
            <div id="scoreB" class="score">0</div>
            <input type="text" id="fieldB" class="field">
            <!-- <div id="addB" class="button addAll">+</div> -->
            <div id="resetB" class="button resetAll">reset</div>
        </div>

        <div class="team" id="teamC">
            <div id="C" class="label">C</div>
            <div id="scoreC" class="score">0</div>
            <input type="text" id="fieldC" class="field">
            <!-- <div id="addC" class="button addAll">+</div> -->
            <div id="resetC" class="button resetAll">reset</div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <table class="tic">
        <tr class="tac">
            <td class="toe">
                <a href="soal/a1.html" class="block" id = 'a1' target="_blank">
                    <button class="btn-custom">
                        A1
                    </button>
                </a>
            </td>
            <td class="toe">
                <a href="soal/b1.html" class="block" id = 'b1' target="_blank">
                    <button class="btn-custom">
                        B1
                    </button>
                </a>
            </td>
            <td class="toe">
                <a href="soal/c1.html" class="block" id = 'c1' target="_blank">
                    <button class="btn-custom">
                        C1
                    </button>
                </a>
            </td>
            <td class="toe">
                <a href="soal/d1.html" class="block" id = 'd1' target="_blank">
                    <button class="btn-custom">
                        D1
                    </button>
                </a>
            </td>
            <td class="toe">
                <a href="soal/e1.html" class="block" id = 'e1' target="_blank">
                    <button class="btn-custom">
                        E1
                    </button>
                </a>
            </td>
            <td class="toe">
                <a href="soal/f1.html" class="block" id = 'f1' target="_blank">
                    <button class="btn-custom">
                        F1
                    </button>
                </a>
            </td>
        </tr>
        <tr class="tac">
            <td class="toe">
                <a href="soal/a2.html" class="block" id = 'a2' target="_blank">
                    <button class="btn-custom">
                        A2
                    </button>
                </a>
            </td>
            <td class="toe">
                <a href="soal/b2.html" class="block" id = 'b2' target="_blank">
                    <button class="btn-custom">
                        B2
                    </button>
                </a>
            </td>
            <td class="toe">
                <a href="soal/c2.html" class="block" id = 'c2' target="_blank">
                    <button class="btn-custom">
                        C2
                    </button>
                </a>
            </td>
            <td class="toe">
                <a href="soal/d2.html" class="block" id = 'd2' target="_blank">
                    <button class="btn-custom">
                        D2
                    </button>
                </a>
            </td>
            <td class="toe">
                <a href="soal/e2.html" class="block" id = 'e2' target="_blank">
                    <button class="btn-custom">
                        E2
                    </button>
                </a>
            </td>
            <td class="toe">
                <a href="soal/f2.html" class="block" id = 'f2' target="_blank">
                    <button class="btn-custom">
                        F2
                    </button>
                </a>
            </td>
        </tr>
        <tr class="tac">
            <td class="toe">
                <a href="soal/a3.html" class="block" id = 'a3' target="_blank">
                    <button class="btn-custom">
                        A3
                    </button>
                </a>
            </td>
            <td class="toe">
                <a href="soal/b3.html" class="block" id = 'b3' target="_blank">
                    <button class="btn-custom">
                        B3
                    </button>
                </a>
            </td>
            <td class="toe">
                <a href="soal/c3.html" class="block" id = 'c3' target="_blank">
                    <button class="btn-custom">
                        C3
                    </button>
                </a>
            </td>
            <td class="toe">
                <a href="soal/d3.html" class="block" id = 'd3' target="_blank">
                    <button class="btn-custom">
                        D3
                    </button>
                </a>
            </td>
            <td class="toe">
                <a href="soal/e3.html" class="block" id = 'e3' target="_blank">
                    <button class="btn-custom">
                        E3
                    </button>
                </a>
            </td>
            <td class="toe">
                <a href="soal/f3.html" class="block" id = 'f3' target="_blank">
                    <button class="btn-custom">
                        F3
                    </button>
                </a>
            </td>
        </tr>
        <tr class="tac">
            <td class="toe">
                <a href="soal/a4.html" class="block" id = 'a4' target="_blank">
                    <button class="btn-custom">
                        A4
                    </button>
                </a>
            </td>
            <td class="toe">
                <a href="soal/b4.html" class="block" id = 'b4' target="_blank">
                    <button class="btn-custom">
                        B4
                    </button>
                </a>
            </td>
            <td class="toe">
                <a href="soal/c4.html" class="block" id = 'c4' target="_blank">
                    <button class="btn-custom">
                        C4
                    </button>
                </a>
            </td>
            <td class="toe">
                <a href="soal/d4.html" class="block" id = 'd4' target="_blank">
                    <button class="btn-custom">
                        D4
                    </button>
                </a>
            </td>
            <td class="toe">
                <a href="soal/e4.html" class="block" id = 'e4' target="_blank">
                    <button class="btn-custom">
                        E4
                    </button>
                </a>
            </td>
            <td class="toe">
                <a href="soal/f4.html" class="block" id = 'f4' target="_blank">
                    <button class="btn-custom">
                        F4
                    </button>
                </a>
            </td>
        </tr>
        <tr class="tac">
            <td class="toe">
                <a href="soal/a5.html" class="block" id = 'a5' target="_blank">
                    <button class="btn-custom">
                        A5
                    </button>
                </a>
            </td>
            <td class="toe">
                <a href="soal/b5.html" class="block" id = 'b5' target="_blank">
                    <button class="btn-custom">
                        B5
                    </button>
                </a>
            </td>
            <td class="toe">
                <a href="soal/c5.html" class="block" id = 'c5' target="_blank">
                    <button class="btn-custom">
                        C5
                    </button>
                </a>
            </td>
            <td class="toe">
                <a href="soal/d5.html" class="block" id = 'd5' target="_blank">
                    <button class="btn-custom">
                        D5
                    </button>
                </a>
            </td>
            <td class="toe">
                <a href="soal/e5.html" class="block" id = 'e5' target="_blank">
                    <button class="btn-custom">
                        E5
                    </button>
                </a>
            </td>
            <td class="toe">
                <a href="soal/f5.html" class="block" id = 'f5' target="_blank">
                    <button class="btn-custom">
                        F5
                    </button>
                </a>
            </td>
        </tr>
        <tr class="tac">
            <td class="toe">
                <a href="soal/a6.html" class="block" id = 'a6' target="_blank">
                    <button class="btn-custom">
                        A6
                    </button>
                </a>
            </td>
            <td class="toe">
                <a href="soal/b6.html" class="block" id = 'b6' target="_blank">
                    <button class="btn-custom">
                        B6
                    </button>
                </a>
            </td>
            <td class="toe">
                <a href="soal/c6.html" class="block" id = 'c6' target="_blank">
                    <button class="btn-custom">
                        C6
                    </button>
                </a>
            </td>
            <td class="toe">
                <a href="soal/d6.html" class="block" id = 'd6' target="_blank">
                    <button class="btn-custom">
                        D6
                    </button>
                </a>
            </td>
            <td class="toe">
                <a href="soal/e6.html" class="block" id = 'e6' target="_blank">
                    <button class="btn-custom">
                        E6
                    </button>
                </a>
            </td>
            <td class="toe">
                <a href="soal/f6.html" class="block" id = 'f6' target="_blank">
                    <button class="btn-custom">
                        F6
                    </button>
                </a>
            </td>
        </tr>
    </table>
    <br>
    <!-- Rounded switch -->
    <div class="cs-center">
        <div class="form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
        </div>
        <br>
        <div class="form-check form-check-inline">
            <input class="form-check-input team-opt" type="radio" name="team-opt" id="inlineRadio1" value="default" checked disabled onclick="teamSelected()">
            <label class="form-check-label" for="inlineRadio1">Default</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input team-opt" type="radio" name="team-opt" id="inlineRadio2" value="x" disabled onclick="teamSelected()">
            <label class="form-check-label" for="inlineRadio2">X</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input team-opt" type="radio" name="team-opt" id="inlineRadio3" value="a" disabled onclick="teamSelected()">
            <label class="form-check-label" for="inlineRadio3">A</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input team-opt" type="radio" name="team-opt" id="inlineRadio4" value="b" disabled onclick="teamSelected()">
            <label class="form-check-label" for="inlineRadio4">B</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input team-opt" type="radio" name="team-opt" id="inlineRadio5" value="c" disabled onclick="teamSelected()">
            <label class="form-check-label" for="inlineRadio5">C</label>
        </div>
    </div>
	<!-- <canvas id="canvas"></canvas> -->
    <!-- <script src="canvas.js"></script> -->
    <script src="tictactoe.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>