<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="$1">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>LCT PRJ XI</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
        <link href="{{ url_for('static', filename='css/assets/dist/css/bootstrap.min.css') }}" rel="stylesheet">
        <style type="text/css">
            .container > button{
                width: 100%;
                height: 100%;
                font-size: 40px;
            }
            .container{
                height: 80vh;
            }
        </style>
   
    </head>
    <body>
        <div class="container">
         {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                    <!-- alert -->
                    <div id="alert" class="alert alert-primary z-3 alert-dismissible fade show position-fixed top-0 end-0" role="alert">
                        <strong>{{ message }}</strong>
                    </div>                    
                    {% endfor %}                   
                {% endif %}
                {% endwith %}



            
                <button id="myButton">Click me</button>
                <div id="winner" style="height:400px;" class="border mt-2 mb-2"></div>
            </div>













        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>  
        <script src="//code.jquery.com/jquery-1.11.1.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.1/socket.io.min.js"></script>
    <script type="text/javascript">


        function tempAlert(duration){
            var el = document.getElementById("alert");
            setTimeout(function(){
                el.style.display = "none";
            }, duration);
        }
        tempAlert(3000);
    </script>
    <script type="text/javascript">
         var socket = io.connect('http://' + document.domain + ':' + location.port);
         const winner = document.getElementById("winner")
          socket.on('connect', function() {
            console.log('connected to server');
          });
        const button = document.getElementById('myButton');
        let buttonState = false;

        button.addEventListener('click', () => {
            console.log('emit success');
          socket.emit('button-click', { button_state: buttonState , username :'{{username}}' });
        });

        socket.on('button-state', (data) => {
          let State = data.button_state;
          let user = data.username
          console.log('receive data '+user);
          let chatList = document.createElement("p");
            chatList.style.fontSize = "24px";
            chatList.textContent = user;
            winner.appendChild(chatList);
          // Update the button's appearance based on the new state
          if (State) {
            button.classList.add('active');
          } else {
            button.classList.remove('active');
          }
        });

        socket.on('button-disable', () => {
          button.disabled = true;
        });
        socket.on('button-enable', () => {
          winner.innerHTML = '';
          button.disabled = false;
        });
    </script>
    </body>
</html>