<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
     <link rel="stylesheet" href="{{url_for('static', filename='res/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='lct.css') }}?v=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='scoreBoard.css') }}?v=1">
    <title>LCT Komputer PRJ IX</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
  <style type="text/css">
    .modal-title{
        margin:auto;
        font-weight: bold;

    }
    
    .question{
        font-size: 25px;
        height: 100%;
    }
    .question>div>h1{
        font-size: 35px;
    }
    .question>div>div>h2{
        font-size: 30px;
        
    }
  </style>
</head>
  <body>
    <div class="modal fade" id="quizModal" tabindex="-1" aria-labelledby="quizModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header" >
        <div class="d-flex" >
        <div id="timer_title">Timer</div>
            <div id="seconds" >10 : 00</div>
        </div>
        <h5 class="modal-title" id="quizModalLabel" style="font-size: 40px;"></h5>
        <a href="" data-dismiss="modal" onclick="closeSoal();"><i class="fa fa-window-close" style="color:black;font-size: 40px;" aria-hidden="true"></i></a>
      </div>
              <div class="modal-body">
          <div class="question d-flex justify-content-center align-items-center flex-column" >
            <div id="que mt-3"onclick="reveal1(this)">Pertanyaan</div>
            <br>
            <div class="ans">
              <div id="ans" class="ans-box" onclick="reveal2(this)"></div>
            </div>
          </div>
        </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-danger modalbtn" id="wrongBtn"  data-dismiss="modal" value="false">Wrong</button>
        <button type="button" class="btn btn-success modalbtn" id="correctBtn"  data-dismiss="modal" value="true">Correct</button>
      
        <button type="button" class="btn btn-danger modalbtn" id="wrongBtn"  data-dismiss="modal" value="false"><i class="fa fa-arrow-left"></i></button>
        <button type="button" class="btn btn-success modalbtn" id="correctBtn"  data-dismiss="modal" value="true"><i class="fa fa-arrow-right"></i></button>
      </div>
    </div>
  </div>
</div>
    <div class="logo-kiri">
        <img src="{{ url_for('static', filename='res/lct/logo.png') }}">
    </div>
    <div class="cs_title" contenteditable="true" spellcheck="false">
        LCT Komputer <br>
        Semifinal Grup 1
    </div>
    <div class="logo-kanan">
        <img src="{{ url_for('static', filename='res/lct/unila.png') }}">
        <img src="{{ url_for('static', filename='res/lct/hima.png') }}">
        
    </div>

    <div class="container score-panel" style="padding-bottom: 5px;">
        <!-- <div id="title">Score Board</div> -->
        <div class="team" id="teamA">
            <div id="A" class="label" style="border:solid black 1px;">A</div>
            <div id="scoreA" class="score">0</div>
            <input type="text" id="fieldA" class="field">
            <!-- <div id="addA" class="button addAll">+</div> -->
            <div id="resetA" class="button resetAll">reset</div>
        </div>

        <div class="team" id="teamB">
            <div id="B" class="label">B</div>
            <div id="scoreB" class="score">0</div>
            <input type="text" id="fieldB" class="field">
            <!-- <div id="addB" class="button addAll">+</div> -->
            <div id="resetB" class="button resetAll">reset</div>
        </div>

        <div class="team" id="teamC">
            <div id="C" class="label">C</div>
            <div id="scoreC" class="score">0</div>
            <input type="text" id="fieldC" class="field">
            <!-- <div id="addC" class="button addAll">+</div> -->
            <div id="resetC" class="button resetAll">reset</div>
        </div>

        <div class="team" id="teamD" style="display: none;">
            <div id="D" class="label">D</div>
            <div id="scoreD" class="score">0</div>
            <input type="text" id="fieldD" class="field">
            <!-- <div id="addC" class="button addAll">+</div> -->
            <div id="resetD" class="button resetAll">reset</div>
        </div>
        <!-- <div id="timer" class="timer team">
            
            <div id="pause" class="button">pause</div>
            <div id="start_button" class="button b">start</div>
            <div id="reset_timer" class="button b">reset</div>
             <div id="s20" class="button b-alt">20</div> 
            <div id="s10" class="button b-alt">10</div>
            <div id="s5" class="button b-alt">5</div>
        </div> -->
    </div>
    <br>
    <br>
    <br>
    <div class="fluid-container">
      <button class="btn-custom" data-toggle="modal" data-target="#quizModal">
        A1
    </button>
    </div>
    
    <br>
   
    
	<!-- <canvas id="canvas"></canvas> -->
    <!-- <script src="canvas.js"></script> -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/js/bootstrap.bundle.min.js"></script>
<script src="{{url_for('static',filename='res/lct/timer.js')}}"></script>
 
    
   <script src="{{ url_for('static', filename='tictactoe.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script type="text/javascript">
        let boxQue = document.getElementById('que');
        let boxAns = document.getElementById('ans');
        let labelA = document.getElementById('A');
        let labelB = document.getElementById('B');
        let labelC = document.getElementById('C');
        let labelD = document.getElementById('D');
        {
        labelA.addEventListener('click',function(e){
            e.preventDefault();
            turn = 0;
            updateLabelBorders();
        })
        labelB.addEventListener('click',function(e){
            e.preventDefault();
            turn = 1;
            updateLabelBorders();
        })
        labelC.addEventListener('click',function(e){
            e.preventDefault();
            turn = 2;
            updateLabelBorders();
        })
        labelD.addEventListener('click',(e)=>{
            e.preventDefault();
            turn = 3;
            updateLabelBorders();
        })
        }
        let logoKiri = document.getElementsByClassName('logo-kiri');
        let logoKanan = document.getElementsByClassName('logo-kanan');

        logoKanan[0].addEventListener('click',(e)=>{
            mode4 = !mode4;
            document.getElementById('teamD').style.display = (mode4? 'flex' : 'none');
        })

        updateLabelBorders();
        logoKiri[0].addEventListener('click',function(e){
            turn++;
            if(mode4)turn%=4;
            else turn%=3
            updateLabelBorders();
            console.log(turn);
        })
        let blocknow = null;
        const soal = document.getElementsByClassName('btn-custom');
        let question = '';
        let answer = '';
          
        for (let i = 0; i < 6; i++) {
            for(let j = 0; j<6; j++){


            blocks[i][j].addEventListener("click",function(e){
                    timerPrepare();
                    const block = document.getElementById(blocks[i][j].id);
                    blocknow = block;
                    curI = i;
                    curJ = j;
                    let titleSoal = document.getElementsByClassName('modal-title')[0]

                    
                    const kodeSoal = blocks[i][j].id;
                    console.log(kodeSoal);
                    titleSoal.innerHTML = kodeSoal.toUpperCase();
                    const xhr = new XMLHttpRequest();
                    const url = '/getsoal?kodeSoal=' + kodeSoal;
                    xhr.open('GET', url);
                    xhr.onload = function() {
                        if (xhr.status === 200) {
                            const data = JSON.parse(xhr.responseText);
                            question = data.soal;
                            answer = data.jawaban;
                             

                        } else {
                            console.error('Error:', xhr.statusText);
                        }
                    };
                    xhr.send();
                   
            })
            }
        }
        quizW.addEventListener("click",function(e){
                
                if(turn == 0)matrix[curI][curJ] = 10;
                else if(turn == 1)matrix[curI][curJ]=20;
                else if(turn == 2)matrix[curI][curJ]=30;
                else matrix[curI][curJ]=40;
                console.log(matrix[curI][curJ]);
                updateLabelBorders();
                 blocknow.innerHTML = "<button class='btn-custom marked' style='background: black;' >A</button>";
                 
                 turn = turn+1;
                 if(mode4)turn%=4;
                else turn%=3;
                updateLabelBorders();
                console.log(turn);
                closeSoal();
        })
        quizC.addEventListener("click",function(e){
           

            if(turn==0){
                blocknow.innerHTML = "<button class='btn-custom marked' style='background: red;' >A</button>";
                matrix[curI][curJ] = 0;
                console.log(matrix[curI][curJ]);
            }else if(turn==1){
                 blocknow.innerHTML = "<button class='btn-custom marked' style='background: blue;' >B</button>";
                 matrix[curI][curJ] = 1;
                console.log(matrix[curI][curJ]);
            }else if(turn==2){
                 blocknow.innerHTML = "<button class='btn-custom marked' style='background: yellow;' >C</button>";
                 matrix[curI][curJ] = 2;
                console.log(matrix[curI][curJ]);
            }else{
                blocknow.innerHTML = "<button class='btn-custom marked' style='background: green;' >D</button>";
                 matrix[curI][curJ] = 3;
                console.log(matrix[curI][curJ]);
            }
                
            // Check if any row has the same value in all elements

             turn = turn+1;
             if(mode4)turn%=4;
                else turn%=3;
            updateLabelBorders();
            closeSoal();
        })
        function updateLabelBorders() {
             tmpA = 0;
             tmpB = 0;
             tmpC = 0;
             tmpD = 0;
            for (let i = 0; i < matrix.length; i++) {
              let row = matrix[i];
              let firstValue = row[0];
              if(firstValue != -1){
                  let isRowSame = row.every(element => element === firstValue);
                  
                  if (isRowSame) {
                    if(firstValue == 0 )tmpA++;
                    if(firstValue == 1)tmpB++;
                    if(firstValue == 2)tmpC++;
                    if(firstValue == 3)tmpD++;
                    console.log('Row', i, 'has same value:', firstValue);
                  }
                }
            }

            // Check if any column has the same value in all elements
            for (let j = 0; j < matrix[0].length; j++) {
              let column = matrix.map(row => row[j]);
              let firstValue = column[0];
              if(firstValue != -1){
                      let isColumnSame = column.every(element => element === firstValue);
                      
                      if (isColumnSame) {
                        if(firstValue == 0 )tmpA++;
                    if(firstValue == 1)tmpB++;
                    if(firstValue == 2)tmpC++;
                    if(firstValue == 3)tmpD++;
                        console.log('Column', j, 'has same value:', firstValue);
                      }
                }
            }
                
                
                storedScoreA += (tmpA-bonusA)*correct;
                bonusA = tmpA;
                scoreA.innerHTML = storedScoreA;
                
                storedScoreB += (tmpB-bonusB)*correct;
                bonusB = tmpB;
                scoreB.innerHTML = storedScoreB;

                storedScoreC += (tmpC-bonusC)*correct;
                bonusC = tmpC;
                scoreC.innerHTML = storedScoreC;

                storedScoreD += (tmpD-bonusD)*correct;
                bonusD = tmpD;
                scoreD.innerHTML = storedScoreD;

                if(mode4)turn%=4;
                else turn%=3;
          if(turn==0){
            labelA.style.border = 'solid black 1px';
            labelB.style.border = 'none';
            labelC.style.border = 'none';
            labelD.style.border = 'none';
          } else if (turn == 1) {
            labelA.style.border = 'none';
            labelB.style.border = 'solid black 1px';
            labelC.style.border = 'none';
            labelD.style.border = 'none';
          } else if(turn == 2) {
            labelA.style.border = 'none';
            labelB.style.border = 'none';
            labelC.style.border = 'solid black 1px';
            labelD.style.border = 'none';
          } else{
            labelA.style.border = 'none';
            labelB.style.border = 'none';
            labelC.style.border = 'none';
            labelD.style.border = 'solid black 1px';
          }

        }
        function reveal1(que){
                 
                 que.innerHTML = '<h1>'+question+'</h1>';
                 console.log(question);
                 document.getElementById('ans').innerHTML = "(Jawaban)";
                 timerStart();  
                             };
         function reveal2(ans){
                          
                            timerFinish();
                            ans.innerHTML = '<h2>'+answer+'</h2>';
                            };
        function closeSoal(){
            boxQue.innerHTML = 'Pertanyaan';
                boxAns.innerHTML = '';
        }
    </script>
<script type="text/javascript">
 
</script>
</body>
</html>