<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
 <link rel="stylesheet" href="{{ url_for('static', filename='soal.css') }}?v=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='scoreBoard.css') }}?v=1">
    <title>LCT Komputer PRJ IX</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
  <style type="text/css">
    #que img{
      display: flex;
      width: 100%;
      height: 100%;
    }
    .container-soal{
      margin-top: 10vh;
      width: 50vw;
    
    }
   .sesi{
    margin: 5px;
   }
    .modal-title{
        margin:auto;
        font-weight: bold;

    }
    
    .question{
        font-size: 25px;
        height: 100%;
    }
    .question>div>h1{
        font-size: 35px;
    }
    .question>div>div>h2{
        font-size: 30px;
        
    }
  </style>
</head>
  <body>
    <div class="modal fade" id="quizModal" tabindex="-1" aria-labelledby="quizModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header" style="position: relative;">
        <div class="d-flex p-3" >
            <div id="timer_title" >Timer</div>
                <div id="seconds" style="margin-left: 25px;">10 : 00</div>
            </div>
        <h5 class="modal-title" id="quizModalLabel" style="font-size: 40px;position: absolute;left:48%"></h5>
        <a href="" data-dismiss="modal" onclick="closeSoal();"><i class="fa fa-window-close" style="color:black;font-size: 40px;" aria-hidden="true"></i></a>
      </div>
              <div class="modal-body">
          <div class="question d-flex justify-content-center align-items-center flex-column" >
            <div id="que"onclick="reveal1()">Pertanyaan</div>
            <br>
            <div class="ans">
              <div id="ans" class="ans-box" onclick="reveal2()"></div>
            </div>
          </div>
        </div>

      <div class="modal-footer">
        <div class="form-group" style="width: 8%;">
          <input type="text" class="form-control" id="lelang" placeholder="POIN" style="display: none;">
        </div>
        <div class="boxREBUTAN" id="boxREBUTAN" style="display: none;">
          
          <button type="button" class="btn modalbtn rebutanbtn" id="btnA"   value="false" style="background: red;font-weight: bold;">A</button>
          <button type="button" class="btn  modalbtn rebutanbtn" id="btnB"   value="true" style="background:blue;font-weight: bold;">B</button>
          <button type="button" class="btn  modalbtn rebutanbtn" id="btnC"   value="true" style="background:yellow;font-weight: bold;">C</button>
          <button type="button" class="btn  modalbtn rebutanbtn" id="rebutanD"   value="true" style="background:green;font-weight: bold;display: none;">D</button>
          <button type="button" class="btn btn-success modalbtn" id="next"   value="false"><i class="fa fa-arrow-right"></i></button>
                    
        </div>
        <div id="boxCW" >
        <button type="button" class="btn btn-danger " id="wrongBtn"   value="false">Wrong</button>
        <button type="button" class="btn btn-success " id="correctBtn"   value="true">Correct</button>
      </div>
      
     </div>
    </div>
  </div>
</div>
<div class="logo-kiri">
  <img src="{{ url_for('static', filename='res/lct/logo.png') }}">
</div>
<div class="cs_title" contenteditable="true" spellcheck="false">
  LCT Komputer <br>
  Semifinal Grup 1
</div>
<div class="logo-kanan">
  <img src="{{ url_for('static', filename='res/lct/unila.png') }}">
  <img src="{{ url_for('static', filename='res/lct/hima.png') }}">
  
</div>

<div class="container score-panel" style="padding-bottom: 5px;">
  <!-- <div id="title">Score Board</div> -->
  <div class="team" id="teamA">
      <div id="A" class="label" style="border:solid black 1px;">A</div>
      <div id="scoreA" class="score">0</div>
      <input type="text" id="fieldA" class="field">
      <!-- <div id="addA" class="button addAll">+</div> -->
      <div id="resetA" class="button resetAll">reset</div>
  </div>

  <div class="team" id="teamB">
      <div id="B" class="label">B</div>
      <div id="scoreB" class="score">0</div>
      <input type="text" id="fieldB" class="field">
      <!-- <div id="addB" class="button addAll">+</div> -->
      <div id="resetB" class="button resetAll">reset</div>
  </div>

  <div class="team" id="teamC">
      <div id="C" class="label">C</div>
      <div id="scoreC" class="score">0</div>
      <input type="text" id="fieldC" class="field">
      <!-- <div id="addC" class="button addAll">+</div> -->
      <div id="resetC" class="button resetAll">reset</div>
  </div>

  <div class="team" id="teamD" style="display: none;">
      <div id="D" class="label">D</div>
      <div id="scoreD" class="score">0</div>
      <input type="text" id="fieldD" class="field">
      <!-- <div id="addC" class="button addAll">+</div> -->
      <div id="resetD" class="button resetAll">reset</div>
  </div>
  <!-- <div id="timer" class="timer team">
      
      <div id="pause" class="button">pause</div>
      <div id="start_button" class="button b">start</div>
      <div id="reset_timer" class="button b">reset</div>
       <div id="s20" class="button b-alt">20</div> 
      <div id="s10" class="button b-alt">10</div>
      <div id="s5" class="button b-alt">5</div>
  </div> -->
</div>
<br>
<br>
<br>

    <div class="container-soal container d-flex justify-content-center align-items-center flex-column">
      <div class="sesi soal-paket d-flex flex-row">
        <div class="paket"><a  class="block" id = 'a' target="_blank">
          <button class="btn-custom" data-toggle="modal" data-target="#quizModal">
              A
          </button>
        </a>
     </div>
      <div class="paket"><a  class="block" id = 'b' target="_blank">
        <button class="btn-custom" data-toggle="modal" data-target="#quizModal">
            B
        </button>
      </a>
  </div>
    <div class="paket"><a  class="block" id = 'c' target="_blank">
      <button class="btn-custom" data-toggle="modal" data-target="#quizModal">
          C
      </button>
    </a>
  </div>
  <div class="paket"><a  class="block" id = 'd' target="_blank">
    <button class="btn-custom" data-toggle="modal" data-target="#quizModal">
        D
    </button>
  </a>
</div>
      </div>
      <div class="sesi soal-lelang" >
       
        <a  class="block" id = 'e' target="_blank" style="width: 100%;">
          <button class="btn-custom1" data-toggle="modal" data-target="#quizModal">
            REBUTAN
          </button>
      </a>
      </div>
    
      <div class="sesi soal-rebutan" >
        <a  class="block" id = 'f' target="_blank" style="width: 100%;">
          <button class="btn-custom1" data-toggle="modal" data-target="#quizModal">
              LELANG
          </button>
      </a>
      </div>
    </div>
   
    
    <br>
   
    
	<!-- <canvas id="canvas"></canvas> -->
    <!-- <script src="canvas.js"></script> -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/js/bootstrap.bundle.min.js"></script>
<script src="{{url_for('static', filename='res/lct/timer.js')}}"></script>
<script src="{{ url_for('static', filename='tictactoe1.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
   <script type="text/javascript">
    let soalShown = false;
    //DEV DEBUG !!!
     // sesi = 2;
      mode4 = true;
    //
    
    let modalbtn = document.querySelectorAll(".modalbtn");
    let next = document.getElementById('next');
    let lelang = document.getElementById('lelang');
    let rebutan = document.getElementById('boxREBUTAN');
    let cw = document.getElementById('boxCW');
      wrong = 0;
        let kode = '';
        let que = document.getElementById('que');
        let ans = document.getElementById('ans');
        let cntSesi = 0;
        let labelA = document.getElementById('A');
        let labelB = document.getElementById('B');
        let labelC = document.getElementById('C');
        let labelD = document.getElementById('D');
        {
        labelA.addEventListener('click',function(e){
            e.preventDefault();
            turn = 0;
            updateLabelBorders();
        })
        labelB.addEventListener('click',function(e){
            e.preventDefault();
            turn = 1;
            updateLabelBorders();
        })
        labelC.addEventListener('click',function(e){
            e.preventDefault();
            turn = 2;
            updateLabelBorders();
        })
        labelD.addEventListener('click',(e)=>{
            e.preventDefault();
            turn = 3;
            updateLabelBorders();
        })
        }
        let logoKiri = document.getElementsByClassName('logo-kiri');
        let logoKanan = document.getElementsByClassName('logo-kanan');
        let btnRebut = document.getElementsByClassName('rebutanbtn');
        for(let i =0 ;i<btnRebut.length;i++){
          btnRebut[i].addEventListener("dblclick",()=>{
           
              btnRebut[i].style.background = 'black';
            
            
          });
          btnRebut[i].addEventListener('click',()=>{
            if(btnRebut[i].style.background == 'none'){
              if(i==0)btnRebut[i].style.background = 'red';
              if(i==1)btnRebut[i].style.background = 'blue';
              if(i==2)btnRebut[i].style.background = 'yellow';
              if(i==3)btnRebut[i].style.background = 'green';
            }else{
              btnRebut[i].style.background = 'none';
            }
          
          });
          
        }
        logoKanan[0].addEventListener('click',(e)=>{
            mode4 = !mode4;
            document.getElementById('teamD').style.display = (mode4? 'flex' : 'none');
            document.getElementById('rebutanD').style.display = (mode4? 'inline-flex' : 'none');
        })
        if(mode4){
           document.getElementById('teamD').style.display = 'flex';
           document.getElementById('rebutanD').style.display = 'inline-flex';
        }
        updateLabelBorders();
        logoKiri[0].addEventListener('click',function(e){
            turn++;
            if(mode4)turn%=4;
            else turn%=3
            updateLabelBorders();
            console.log(turn);
        })
        let blocknow = null;
        const soal = document.getElementsByClassName('btn-custom');
        let question = '';
        let answer = '';
        let kodeSoal = '';
        let turnSoal = 1;
        lelang.addEventListener("change", function () {
          const inputValue = lelang.value;
          const intValue = parseInt(inputValue, 10);

          if (!isNaN(intValue)&&sesi==3) {
           wrong = intValue;
           correct = intValue;
          } 
        });
        for(let i=0; i<blocks.length; i++){
          
          blocks[i].addEventListener('click',(e)=>{
            blocknow = blocks[i];
            
            blocknow.innerHTML = ((i<4)?"<button class='btn-custom marked' style='background: black;' >A</button>": "<button class='btn-custom1 marked' style='background: black;' >A</button>");
            if(sesi==2){
              wrong = 50;
              cw.style.display = 'none';
              rebutan.style.display='inline-flex';
                modalbtn.forEach((btn) => {
                  btn.style.marginLeft = "2px";
                  btn.style.marginRight = "2px";
                });
            }
            if(sesi==3){
              closeSoal();
              next.removeAttribute("data-dismiss");
              lelang.style.display = 'inline-flex';
            }
            turnSoal = 1;
            quizC.removeAttribute("data-dismiss");
            quizW.removeAttribute("data-dismiss");

            cntSesi+=1;
            let titleSoal = document.getElementsByClassName('modal-title')[0]
            kode = blocks[i].id;
            kodeSoal = ""+kode+turnSoal;
            console.log(kodeSoal);
            titleSoal.innerHTML = kodeSoal.toUpperCase();
                    const xhr = new XMLHttpRequest();
                    const url = '/getsoal?kodeSoal=' + kodeSoal;
                    xhr.open('GET', url);
                    xhr.onload = function() {
                        if (xhr.status === 200) {
                            const data = JSON.parse(xhr.responseText);
                            question = data.soal;
                            answer = data.jawaban;
                             

                        } else {
                            console.error('Error:', xhr.statusText);
                        }
                    };
                    xhr.send();
              
          })
        }
                    
                    


        quizW.addEventListener("click",function(e){
         
          closeSoal();
          timerPrepare();
            if(sesi==1){
              turnSoal++;
              if(turnSoal>5){ 
                if(mode4){
                  if(cntSesi==4){
                    sesi+=1;
                }
              }else{
                if(cntSesi==3){
                  sesi+=1;
                }
              }
                quizW.setAttribute("data-dismiss", "modal");
                turn+=1;
                return;
              }
            }
            
            let titleSoal = document.getElementsByClassName('modal-title')[0]
           
            kodeSoal = ""+kode+turnSoal;
            console.log(kodeSoal);
            titleSoal.innerHTML = kodeSoal.toUpperCase();
                    const xhr = new XMLHttpRequest();
                    const url = '/getsoal?kodeSoal=' + kodeSoal;
                    xhr.open('GET', url);
                    xhr.onload = function() {
                        if (xhr.status === 200) {
                            const data = JSON.parse(xhr.responseText);
                            question = data.soal;
                            answer = data.jawaban;
                             

                        } else {
                            console.error('Error:', xhr.statusText);
                        }
                    };
                    xhr.send();
                    reveal1();
                    
                updateLabelBorders();
                 
                 
                 if(mode4)turn%=4;
                else turn%=3;
                updateLabelBorders();
                console.log(turn);
                closeSoal();
                if(sesi==2){
                  wrong = 50;
                }
        })
        quizC.addEventListener("click",function(e){
           closeSoal();
           timerPrepare();
          if(sesi==1){
              turnSoal++;
              if(turnSoal>5){
                if(mode4){
                  if(cntSesi==4){
                    sesi+=1;
                }
              }else{
                if(cntSesi==3){
                  sesi+=1;
                }
              }
                quizC.setAttribute("data-dismiss", "modal");
                turn+=1;
                return;
              }
            }
            let titleSoal = document.getElementsByClassName('modal-title')[0]
          
            kodeSoal = ""+kode+turnSoal;
            console.log(kodeSoal);
            titleSoal.innerHTML = kodeSoal.toUpperCase();
                    const xhr = new XMLHttpRequest();
                    const url = '/getsoal?kodeSoal=' + kodeSoal;
                    xhr.open('GET', url);
                    xhr.onload = function() {
                        if (xhr.status === 200) {
                            const data = JSON.parse(xhr.responseText);
                            question = data.soal;
                            answer = data.jawaban;
                             

                        } else {
                            console.error('Error:', xhr.statusText);
                        }
                    };
                    xhr.send();
      
            // Check if any row has the same value in all elements

             
             if(mode4)turn%=4;
                else turn%=3;
            updateLabelBorders();
            closeSoal();
            if(sesi==2){
                  wrong = 50;
                }
        })






        next.addEventListener('click',()=>{
         
          for(let i=0;i<modalbtn.length;i++){
            if(modalbtn[i].style.background == 'black'){
              if(i==0)storedScoreA -= wrong;
              if(i==1)storedScoreB -= wrong;
              if(i==2)storedScoreC -= wrong;
              if(i==3)storedScoreD -= wrong;
            }
            if(modalbtn[i].style.background == 'none'){
              if(i==0)storedScoreA += correct;
              if(i==1)storedScoreB += correct;
              if(i==2)storedScoreC += correct;
              if(i==3)storedScoreD += correct;
            }
          }
          updateLabelBorders();
          turnSoal+=1;  
          if(sesi == 3&&turnSoal>6){
            next.setAttribute("data-dismiss", "modal");
            sesi++;
            return
          }
          if(turnSoal>10){
            next.setAttribute("data-dismiss", "modal");
            sesi++;
            return
          }
          closeSoal();
          const btnA = document.getElementById("btnA");
          const btnB = document.getElementById("btnB");
          const btnC = document.getElementById("btnC");
          const btnD = document.getElementById("rebutanD");

          // Set styles for each button
          btnA.style.background = "red";
          btnA.style.fontWeight = "bold";

          btnB.style.background = "blue";
          btnB.style.fontWeight = "bold";

          btnC.style.background = "yellow";
          btnC.style.fontWeight = "bold";

          btnD.style.background = "green";
          btnD.style.fontWeight = "bold";
           timerPrepare();
    
          let titleSoal = document.getElementsByClassName('modal-title')[0]
          
          kodeSoal = ""+kode+turnSoal;
          console.log(kodeSoal);
          titleSoal.innerHTML = kodeSoal.toUpperCase();
                  const xhr = new XMLHttpRequest();
                  const url = '/getsoal?kodeSoal=' + kodeSoal;
                  xhr.open('GET', url);
                  xhr.onload = function() {
                      if (xhr.status === 200) {
                          const data = JSON.parse(xhr.responseText);
                          question = data.soal;
                          answer = data.jawaban;
                           

                      } else {
                          console.error('Error:', xhr.statusText);
                      }
                  };
                  xhr.send();
    })



        function updateLabelBorders() {
             tmpA = 0;
             tmpB = 0;
             tmpC = 0;
             tmpD = 0;
           
            
                
                
                storedScoreA += (tmpA-bonusA)*correct;
                bonusA = tmpA;
                scoreA.innerHTML = storedScoreA;
                
                storedScoreB += (tmpB-bonusB)*correct;
                bonusB = tmpB;
                scoreB.innerHTML = storedScoreB;

                storedScoreC += (tmpC-bonusC)*correct;
                bonusC = tmpC;
                scoreC.innerHTML = storedScoreC;

                storedScoreD += (tmpD-bonusD)*correct;
                bonusD = tmpD;
                scoreD.innerHTML = storedScoreD;

                if(mode4)turn%=4;
                else turn%=3;
          if(turn==0){
            labelA.style.border = 'solid black 1px';
            labelB.style.border = 'none';
            labelC.style.border = 'none';
            labelD.style.border = 'none';
          } else if (turn == 1) {
            labelA.style.border = 'none';
            labelB.style.border = 'solid black 1px';
            labelC.style.border = 'none';
            labelD.style.border = 'none';
          } else if(turn == 2) {
            labelA.style.border = 'none';
            labelB.style.border = 'none';
            labelC.style.border = 'solid black 1px';
            labelD.style.border = 'none';
          } else{
            labelA.style.border = 'none';
            labelB.style.border = 'none';
            labelC.style.border = 'none';
            labelD.style.border = 'solid black 1px';
          }

        }
        function reveal1(){
          if(que.innerHTML!='Pertanyaan' && !soalShown){ 
            timerStart(); 
            soalShown = true;
          }
          else if(soalShown){
            countdown = ((countdown == 1)? 0:1);  
          }
                 que.innerHTML = '<h1>'+question+'</h1>';
                 console.log(question);
                 document.getElementById('ans').innerHTML = "(Jawaban)";
                 
                             };
         function reveal2(){
                          
                            timerFinish();
                            ans.innerHTML = '<h2>'+answer+'</h2>';
                            };
        function closeSoal(){
          soalShown = false;
          if(sesi==3)lelang.value = '';
            boxQue.innerHTML = 'Pertanyaan';
                boxAns.innerHTML = '';
        }
        
    </script>
    
<script type="text/javascript">
 
</script>
</body>
</html>